@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');
:root {
  font-family: 'Outfit', sans-serif;
  line-height: 1.5;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  box-sizing: border-box;
  margin: 0 auto;
  padding: 0;
}

h1, h2, h3, h4, p, a{
  color: #efefef;
  text-decoration: none;
}

.btn{
  padding: 12px 32px;
  font-size: 1.2rem;
  font-weight: 600;
  background: #dbb53f;
  color: #222;
  border: 1px solid #efefef;
  cursor: pointer;
}
.btn-light{
  background: transparent;
  color: #efefef;
}
.btn:hover{
  background: #252525;
  color: #efefef;
  transition: 0.3s;
}








@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
